<nav class="flex items-center justify-between shadow-xl bg-slate-300 shadow-slate-200 max-w-[1216px] mx-auto my-8 px-12 py-6 rounded-full">
  <span class="text-slate-900 leading-4 font-bold text-xl">Astro blog</span>

  <div class="flex items-center gap-4">
    <a class="text-slate-500 text-lg hover:text-slate-600" href="/">Início</a>
    <a class="text-slate-500 text-lg hover:text-slate-600" href="/about">Sobre mim</a>
  </div>
</nav>